* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #f3f2cb;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 720px;
    outline: 1px solid #b3b177;
    margin: 0 auto;
    background-color: #f1f1f1;
}

.canvas-square {
    outline: 1px solid rgb(226, 225, 225);
}
