* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 720px;
    outline: 1px solid coral;
}

.canvas-square {
    outline: 1px solid rgb(226, 225, 225);

}
