* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 700px;
    outline: 2px solid cyan;
}

.canvas-square {
    outline: 1px solid coral;
    flex: 1 0 1.56%;
}
